body {
    text-align: center;
	margin: 0 auto;
	padding: 0;
}
/** 
STYLE FOR HEADER STARTS HERE
**/

#header{
	height: 18%;
	margin: 0;
	width: 100%;
	background-color: rgb(11,143, 213);
	box-sizing: border-box;
}
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
	color: #fff;
	padding-bottom: 0.2em;
	margin: 0;
	text-align: center;
}
/** 
STYLE FOR HEADER ENDS HERE
**/

h2 {
    margin: 0;
	font-family: 'Patua One', cursive;
}

h2:first-of-type {
   
	font-family: 'Oswald';
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}



p.warning{
	background-color: rgb(253, 155, 66);
	height: 30px;
	width: 100%;
	padding-top: 2px;
	box-sizing: border-box;
	font-size: 1.5em;
	color: #fff;
	font-weight: bold;
}
/** 
STYLE FOR FORM STARTS HERE
**/
#sizeForm{
	width: 100%;
	height: auto;
	padding: 0.5em 0 1em 0;
	background-color: #ccc;
	box-shadow: inset 0.5px 0.5px 10px 1px rgb(255,255,255);
	margin-top: 0;
}

#sizeForm h2{
	margin-bottom: 0.5em;
}

#sizeForm input[type=number] {
	height: 2em;
	border-radius: 4px;
    width: 10em;
	text-align: right;
	padding-right: 0.1em;
	border: 0;
}

#sizeForm label{
	font-family: monospace;
	font-size: 1.5em;
	font-weight: bolder;
	
}

#sizeForm input[type=submit]{
	font-family: monospace;
	font-size: 1.1em;
	font-weight: bolder;
	color: #fff;
	height: 2em;
	border-radius: 4px;
	border: 0;
	background-color: rgb(64, 205, 39);
}

#sizeForm input[type=submit]:hover{
	background-color: rgb(11,143, 213);
}
/** 
STYLE FOR FORM ENDS HERE
**/

/** 
STYLE FOR COLOR PICKER CONTAINER STARTS HERE
**/
#colorSelectors{
	display: inline-block;
	padding-bottom: 1em;
	margin-top: 1em;
}

#colorSelectors label:first-of-type{
	border: 0;
}

#colorSelectors label{
	font-family: monospace;
	font-size: 1.5em;
	font-weight: bolder;
	border-left: 1px solid white;
}
/** 
STYLE FOR COLOR PICKER CONTAINER ENDS HERE
**/
.canvasHeading{
	 font-family: 'Pacifico', cursive;
	 font-size: 3em;
	color: rgb(11,143, 213);
}




